* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg");
}

body .row {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body .row .sidebar {
  padding: 20px;
  border-right: 1px solid #000000;
  background-color: rgba(46, 70, 110, 0.8);
  text-align: left;
}

body .row .sidebar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

body .row .sidebar span img {
  width: 15%;
  margin-right: 8px;
}

body .row .sidebar span h2 {
  padding: 0;
  margin: 0;
}

body .row .sidebar input {
  background-color: rgba(46, 70, 110, 0.4);
  color: rgba(255, 255, 255, 0.4);
  border-color: #007BFF;
  border-radius: 0px 50px 50px 0;
  padding: 5px 15px;
  width: 100%;
}

body .row .sidebar input:focus {
  color: white;
  outline: none;
  background-color: rgba(46, 70, 110, 0.8);
}

body .row .sidebar input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8;
  /* Firefox */
}

body .row .sidebar input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8;
  /* Firefox */
}

body .row .sidebar input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8;
  /* Firefox */
}

body .row .sidebar input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8;
  /* Firefox */
}

body .row .sidebar ul {
  padding: 20px 0 0 0;
  margin: 0;
}

body .row .sidebar ul li {
  list-style: none;
  padding-bottom: 10px;
}

body .row .main .all-pages h1, body .row .main .search h1 {
  font-size: 3em;
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

body .row .main .all-pages ul, body .row .main .search ul {
  padding: 0 250px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .row .main .all-pages ul li, body .row .main .search ul li {
  list-style: none;
  margin: 0 20px 20px 0;
}

body .row .main .all-pages ul li a, body .row .main .search ul li a {
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5em;
}

body .row .item {
  padding: 30px;
}

body .row .item .editButton {
  width: 90px;
  display: block;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #bfbfbf), to(grey));
  background: linear-gradient(to bottom, #bfbfbf 5%, grey 100%);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
}

body .row .item .editButton:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #bfbfbf), to(grey));
  background: linear-gradient(to top, #bfbfbf 5%, grey 100%);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

body .row .item .editButton:active {
  position: relative;
  top: 1px;
}

body .row .create, body .row .edit {
  padding: 30px 0;
  margin: 0;
}

body .row .create h1, body .row .edit h1 {
  text-align: center;
  font-size: 3em;
}

body .row .create p, body .row .edit p {
  text-align: center;
  font-size: 1.2em;
}

body .row .create h4, body .row .edit h4 {
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
}

body .row .create form, body .row .edit form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  font-size: 1.1em;
}

body .row .create form input, body .row .create form textarea, body .row .edit form input, body .row .edit form textarea {
  padding: 5px 10px;
  margin-bottom: 10px;
}

body .row .create form input[type=submit], body .row .edit form input[type=submit] {
  font-size: 1em;
}

.myButton {
  -webkit-box-shadow: inset 0px 0px 15px 3px #23395e;
          box-shadow: inset 0px 0px 15px 3px #23395e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2e466e), to(#415989));
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: rgba(46, 70, 110, 0.8);
  border-radius: 5px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #415989), to(#2e466e));
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}
/*# sourceMappingURL=styles.css.map */