{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia | Create
{% endblock %}

{% block body %}
    <div class="create">
        {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
        <h1>Create Page</h1>
        <p>Use <a href="https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax#headings">Markdown language</a> to create</p>
        <form action="{% url 'encyclopedia:create' %}" method="POST">
            {% csrf_token %}
            {{ form_create }}
            <input class="myButton" type="submit">
        </form>
    </div>
    
{% endblock %}